* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    background-color: #fdf5e6;
}

nav {
    background-color: hsl(120, 95%, 26%);
}


header {
    background-image: url('./assets/cover-photo.jpg');
    height: 350px;
    background-position-y: -50px;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
}

header button {
    margin-bottom: 20px;
    background-color:hsl(120, 95%, 26%);
    color:white;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    main {
        background-image: url('./assets/cover3.jpg');
        align-items:flex-end;
    }

  }